*.png
*.jpg

# Datasets
rally-estonia-cropped-antialias
UCF11_updated_mpg

# wandb
/wandb

*.zip
*.csv
rally-estonia-full
traces/trace_forward
traces/trace_backward
out/*
data_stuff
*.pth
*slurm-run*
*.avi
.idea/
conda-meta/
slurm/
sbatch__*.sh
__pycache__/
venv
*.xlsx
*.pptx