common==0.1.2
einops==0.8.0
matplotlib==3.7.5
numpy==1.24.4
onnx==1.16.0
onnxruntime==1.18.0
opencv_python==4.10.0.82
pandas==2.0.3
Pillow==10.3.0
python-dotenv==1.0.1
scipy==1.13.1
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
vista==2.0.6
wandb==0.17.1
wget==3.2